.card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.card-img-top {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 25px;
  font-weight: 500;
  margin: 10px;
}