.plantasA {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 92vh;
  align-items: center; /* centra todo horizontalmente */
}

.cartasA {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  justify-content: center; /* centra todas las cards dentro del contenedor */
  width: 100%;
}

/* Para que el título dentro de cada card esté centrado */
.card-titleA {
  text-align: center;
}
