.iniciar-sesion {
    display: flex;
    width: 100%;
    height: 92vh;
}

.primera-parteIS{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
    overflow-y: hidden;
}

.fondo-imgIS {
    width: 100%;
    height: auto;
}

.segunda-parteIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
}

.tituloIS{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 18px;
}

.logo-imgIS {
    width: 10%;
    height: auto;
    margin-right: 1vh;
}

.subIS {
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-size: 36px;
    font-weight: 600;
}

.inIS {
    width: 60% !important;
    padding: 12px 20px!important;
    margin: 10px 0!important;
    border: 1px solid #989898!important;
    border-radius: 10px!important;
    font-size: 16px!important;
    outline: none!important;
    transition: border-color 0.3s!important;
}

.inIS:focus {
    border-color: #1877f2 !important;
}

.botonIS {
    width: 67%!important;
    padding: 12px 20px!important;
    margin-top: 20px!important;
    border: none!important;
    border-radius: 10px!important;
    background-color: #1877f2!important;
    color: white!important;
    font-size: 20px!important;
    cursor: pointer!important;
    transition: background-color 0.3s!important;
}

.botonIS:hover {
    background-color: #1463ca!important;
}

.linkIS {
    margin-top: 3vh;
    font-size: 18px;
    color: rgb(34, 106, 34);
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.linkISD {
    margin-top: 3vh;
    font-size: 20px;
    color: rgb(34, 106, 34);
    text-decoration: none;
    cursor: pointer;
}

.textIS {
    margin-top: 3vh;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

